        <section id="about" class="section-1" th:fragment="aboutstart()">
            <div class="container">
                <div class="content-block-1 row">
                    <div class="col-md-6">
                        <div class="text-content">
                            <h2 class="heading-1">호주와 나 때때로 <span class="theme-color">남편</span></h2>
                            <p>“여행이냐 이혼이냐 그것이 문제로다”
좌충우돌 신혼부부의 730일간의 호주 여행기

누구나 다 아는 시드니 오페라 하우스부터 이름도 희한한 울루루를 지나 섬 속의 또 다른 섬 태즈매니아까지. 
이 책은 세련된 도시는 물론 황량하고 삭막한 아웃백, 청량한 에스테린 빛깔의 바다, 새하얀 백사장을 넘나드는 국내 최초 호주 캠핑 일주 여행기이자, 신혼부부의 흥미로운 고뇌와 사랑을 엿볼 수 있는 연애서다.

모래사장에 차가 빠져 헬리콥터를 타고 온 사람들에 의해 구출되기도 하고, 국립공원에서 야생동물과 싸우기도 하며, 도저히 참을 수 없는 극한의 무더위를 거친 끝에 맞이한 우기의 끝자락에선 홍수를 만나 난민이 되었던 이들은 고작 에어컨 따위에 이혼의 위기를 겪는데...</p>
                        </div><!-- /text-content -->
                    </div>
                    <div class="col-md-6">
                        <div class="img-style-1">
                            <img class="img-responsive" src="images/aboutstart_호주와 나 때때로 남편.png" alt="호주와 나 때때로 남편" data-parallax='{"y": 30}'>
                        </div><!-- img-style-1 -->
                    </div>
                </div>
                
                <div class="content-block-1 row">
                    <div class="col-md-6">
                        <div class="img-style-1 left">
                            <img class="img-responsive" src="images/aboutstart_스마트 농담.png" style="border-style: solid; border-width: 1px;" alt="스마트 농담" data-parallax='{"y": -30}'>
                        </div><!-- img-style-1 -->
                    </div>
                    <div class="col-md-6">
                        <div class="text-content-right">
                            <a href="#"><h2 class="heading-1 right">스마트 <span class="theme-color">농담</span></h2></a>
                            <p>농업에서 인류의 ‘지속 가능성’을 찾고자 하는 
농업 전문가 6인의 6차 산업 토크! 

이 책을 집어든 당신은 이미 농업인이거나, 이제 막 농업을 시작해볼 참이거나 혹은 농촌으로 이주를 앞두고 있는 예비 귀농, 귀촌인 이리라 짐작해 본다. 진화한 미래 농업, 6차 산업 시대에 관한 장밋빛 전망들이 쏟아져 나오는 현실에서 과연, 진짜로 농업에 승부를 걸어도 될지 심각하게 저울질하고 있을 거라 상상해본다.

여기 당신과 비슷한 고민에 빠진 여섯 명의 전문가가 있다. 재무 전문가, 컨설팅 전문가, 입법 전문가. 나이도, 이력도, 전공도 제각각인 이들은 ‘도시와 농촌이 상생하는 세상’이라는, 다소 거대하고 이상적으로 들리는 포부를 안고 뭉쳤다. 
이들에게 농촌은 미래 인류 희망의 씨앗을 품은 공간이자, 반드시 살려내야 할 삶의 보고다. 갈수록 경쟁력을 잃어가는 우리 농업의 아픈 현실을 똑바로 인지하면서도 희망을 놓을 수가 없는 이유다.

6차 산업시대에 성공한 농업인이 되기 위해서는 무엇을 갖추어야 하는가.
저자들을 따라가며 배워보자.</p>
                        </div><!-- /padding -->
                    </div>
                </div>
            </div>
        </section>