        <section class="section-2" th:fragment="blog()">
            <div class="container">
                <div class="text-center">
                    <h2>Freash <span class="theme-color">News</span></h2>
                    <p>책구름 작가들의 근황</p>
                </div><!-- /text-center -->
                <div class="blog-default mrg-top-70">
                    <div class="blog-item">
                        <div class="row">
                            <div class="col-md-7">
                                <img class="img-responsive" src="assets/images/blog/blog-1.jpg" alt="" data-parallax='{"y": 30}'>
                            </div>
                            <div class="col-md-5">
                                <div class="blog-content">
                                    <h3 class="blog-tittle">Lorem Ipsum is simply dummy text </h3>
                                    <div class="blog-meta">
                                        <span class="author">By Henry Chew</span>,
                                        <span class="date"> May 18th 2016</span>
                                    </div><!-- /blog-meta -->
                                    <p class="blog-article">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries,</p>
                                    <div class="continue-reading">
                                        <a href="#"><i class="ei ei-right-arrow"></i></a>
                                    </div><!-- /continue-reading -->
                                </div><!-- /blog-content -->
                            </div>
                        </div>
                    </div><!-- /blog-item  -->
                    <div class="blog-item">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="blog-content left">
                                    <h3 class="blog-tittle">Lorem Ipsum is simply dummy text </h3>
                                    <div class="blog-meta">
                                        <span class="author">By Henry Chew</span>,
                                        <span class="date"> May 18th 2016</span>
                                    </div><!-- /blog-meta -->
                                    <p class="blog-article">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries,</p>
                                    <div class="continue-reading">
                                        <a href="#"><i class="ei ei-right-arrow"></i></a>
                                    </div><!-- /continue-reading -->
                                </div><!-- /blog-content -->
                            </div>
                            <div class="col-md-7">
                                <img class="img-responsive" src="assets/images/blog/blog-2.jpg" alt="" data-parallax='{"y": -30}'>
                            </div>
                        </div>
                    </div><!-- /blog-item  -->
                </div><!-- /blog-default -->
            </div><!-- container -->
        </section>