        <section class="section-5" th:fragment="features()">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h2 class="heading-1">Advance Features</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                        <p class="mrg-top-20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has.</p>
                        <div class="counter-style-1 mrg-vertical-30 row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <h2 class="counter theme-color">81,425</h2>
                                <p>Likes</p>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <h2 class="counter theme-color">52,867</h2>
                                <p>Shares</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-md-offset-1">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="features-block-1">
                                    <i class="ei ei-antenna"></i>
                                    <h4 class="features-tittle">Outstanding</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                                </div><!-- /features-block-1 -->
                                <div class="features-block-1">
                                    <i class="ei ei-heart"></i>
                                    <h4 class="features-tittle">With Love</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                                </div><!-- /features-block-1 -->
                            </div>
                            <div class="col-md-6">
                                <div class="features-block-1">
                                    <i class="ei ei-smartphone"></i>
                                    <h4 class="features-tittle">Responsive</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                                </div><!-- /features-block-1 -->
                                <div class="features-block-1">
                                    <i class="ei ei-hanger"></i>
                                    <h4 class="features-tittle">Easy to use</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                                </div><!-- /features-block-1 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>