<!DOCTYPE html>
    <section class="footer-default">
        <div class="container">
            <div class="row mrg-btm-30">
                <div class="col-md-3">
                    <div class="widget widget-about">
                        <img class="img-responsive" src="images/책구름 로고 앤 우측이름.png" alt="책구름" style="width:130px;">
                        <p class="mrg-top-30">구름처럼 자유로운 책 세상</p>
                    </div><!-- /widget-about -->
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <div class="widget widget-link">
                        <h3 class="widget-tittle">Useful Link</h3>
                        <div class="row mrg-btm-30">
                            <div class="col-md-6">
                                <ul class="link">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Career</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="link">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Career</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="widget widget-news">
                        <h3 class="widget-tittle">News</h3>
                        <div class="news-item">
                            <div class="news-media">
                                <img class="img-responsive" src="assets/images/news-1.jpg" alt="">
                            </div>
                            <div class="news-info">
                                <a href="#" class="news-tittle">Feel the Inovation</a>
                                <span class="news-meta">By <a href="#" class="author">Hendry Chew</a> 3 April</span>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="news-media">
                                <img class="img-responsive" src="assets/images/news-2.jpg" alt="">
                            </div>
                            <div class="news-info">
                                <a href="#" class="news-tittle">Feel the Inovation</a>
                                <span class="news-meta">By <a href="#" class="author">Hendry Chew</a> 3 April</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <span class="copyright"><img class="pdd-right-10" src="images/책구름 로고만.png" alt="책구름" style="width:50px;"> Copyright © 2017 책구름 </span>    
            </div>
        </div>
    </section>
    <section class="footer-default pdd-vertical-80" th:fragment="footer()">
        <div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="text-center">
						<img class="img-responsive mrg-horizon-auto mrg-btm-30" src="images/책구름 로고 앤 우측이름.png" style="width:180px;" alt="책구름">
						<div class="widget widget-link link-horizon">
							<ul class="link mrg-btm-30">
								<li><a class="text-light-gray font-size-16" href="#">Home</a></li>
								<li><a class="text-light-gray font-size-16" href="#">About</a></li>
								<li><a class="text-light-gray font-size-16" href="#">Career</a></li>
								<li><a class="text-light-gray font-size-16" href="#">Contact</a></li>
							</ul>
						</div>
						<p class="copyright">Copyright © 2017 책구름.</p>
					</div>
				</div>
			</div>
        </div>
    </section>
    